{% extends 'base.html.twig' %} {% block title 'Liste des Posts' %} {% block body %}
<div class="container">
    <h1>Liste des posts</h1>
    <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Ipsam, culpa mollitia. Earum repellat esse quia quis natus. Facilis quis dolor quidem, temporibus voluptatibus atque, optio autem libero odio fuga praesentium!</p>
</div>
{% endblock %}