{% extends 'base.html.twig' %} {% block title post.title %} {% block body %}
<div class="container mt-4">
    <div class="row">
        <div class="col-md-4">

        </div>
        <div class="col-md-8">
            <h1>{{post.title}}</h1>
            <h2><em>By {{post.author}}</em></h2>
            <p>{{post.content}}</p>
        </div>
    </div>
</div>
{% endblock %}