{% extends 'base.html.twig' %} {% block title 'Mon Super Blog' %} {% block body %}
<div class="jumbotron text-center">
    <div class="container">
        <h1>Mon Super Blog</h1>
        <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Ipsam, culpa mollitia. Earum repellat esse quia quis natus. Facilis quis dolor quidem, temporibus voluptatibus atque, optio autem libero odio fuga praesentium!</p>
    </div>
</div>

<div class="container">
    <h2>Les derniers posts :</h2>

    <div class="row flex">
        {% for post in posts %}
        <div class="col-3">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">
                        <a href="{{path('post.show', {id: post.id, slug: post.slug})}}">{{post.title}}</a>
                    </h5>
                    <p class="card-text">{{post.content}}</p>
                    <p class="card-text"><em>{{post.author}}</em></p>

                </div>
            </div>
        </div>
        {% endfor %}
    </div>

</div>
{% endblock %}