{% extends "base.html.twig" %} {% block body %}
<div class="container mt-4">
    <h1>Editer le post</h1>
    {{ form_start(form) }}
    <div class="row">
        <div class="col-md-6">{{ form_row(form.title)}}</div>
        <div class="col-md-4">{{ form_row(form.author)}}</div>

    </div>
    <div class="row">
        <div class="col-md-10">{{ form_row(form.content)}}</div>

    </div>
    {{ form_widget(form) }}

    <button class="btn btn-primary">Editer</button> {{ form_end(form) }}

</div>
{% endblock %}