{% extends 'base.html.twig' %} {% block title 'Gérer le blog' %} {% block body %}

<div class="container mt-4">

    <h1>Gérer les posts</h1>

    <table class="table table-striped">
        <thead>
            <tr>
                <th>Titre</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            {% for post in post %}
            <tr>
                <td>{{post.title}}</td>
                <td>
                    <a href="{{ path('admin.posts.edit', {id: post.id})}}" class="btn btn-primary">Editer</a>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>

{% endblock %}